html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#header {
	height: 60px;
	background: pink;
	float: left;
	width: 100%;
}
.jumbo {
	background: black;
	background-attachment: fixed;
}
.fullheight {
	height: 100%;
}
.midheight {
	height: 400px;
}
#select {
	height: 60px;
	background-color: yellow;
	width: 100%;
}
.container {
	width: 780px;
	margin: 0px auto;
}
#fader {
	height: 100%;
	width: 100%;
	flex: auto;
}
#application {
	background-color: wheat;
	position: absolute;
	height: 100%;

	width: 100%;
}
#black {
	background-color: black;
	height: 100%;
	position: absolute;
	width: 100%;
}
#distribution {
	background-color: wheat;
	height: 100%;

	width: 100%;
}

#posting {
	background-color: blue;
}
.active {
	background-color: red;
}

.bg {
	height: 100%;
	width: 100%;
	background-color: peachpuff;
	background-size: cover; /* Resize the background image to cover the entire container */
	align-items: center;
	align-content: center;
	text-align: center;
}

h1 {
	font-size: 200px;
	color: orange;
	margin-top: 0px;
}

#album1 {
	background-image: url(images/anna_1_mash.studio_toremember.jpg);
}
